.banner-principal-decorativo
  &-1
    animation: float 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 70%
  &-2
    animation: float 3s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 15%
  &-3
    position: absolute
    top: 60%
    right: 0%
    animation: float 2.5s ease-in-out infinite alternate

@keyframes float
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 45% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important

.banner-principal__row .banner-principal__img
  width: 450px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white  
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #6C4826
  background-color: #e8e8e8

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #6C4826 !important

.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto

.barra-avance__boton--regresar span 
  color: $color-sistema-texto !important

.cen
  display: flex
  justify-content: center
  align-items: center



.bloque-texto-g.color-primario
  background-color: #0A388B
  border-radius: 0px 49px 49px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 65%
    border-radius: 0px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px

.bg1
  background-color: #F0ECE9

.bg2
  background-color: #D1E5C0

